.tag {
  display: inline-block;
  background-color: rgb(242, 242, 242);

  border: solid 1px;
  border-radius: 1rem;

  padding: 0.25rem 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  font-weight: 400;
}

.tag-title {
  font-size: x-large;
  margin-bottom: 0.25rem;
}
